body {
	color: black;
}

.presentSimple-title {
	padding-top: 5rem;
	font-size: xxx-large !important;
}

.container-PresentSimple {
	padding: 1.5rem;
	padding-top: 3rem;
}

.section1-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-bottom: 1rem;
}

.sentenceTranslated-container {
	display: flex;
	flex-direction: column;
}

/* Primer bloque de frases */
.sentenceTranslated-container-first ul li {
	list-style: none;
}

.sentenceTranslated-container-first ul :nth-child(2) :first-child {
	color: rgb(95, 95, 95);
	font-style: italic;
	font-size: small;
}
.sentenceTranslated-container-first ul :nth-child(4) :first-child {
	color: rgb(95, 95, 95);
	font-style: italic;
	font-size: small;
}
.sentenceTranslated-container-first ul :nth-child(6) :first-child {
	color: rgb(95, 95, 95);
	font-style: italic;
	font-size: small;
}
.sentenceTranslated-container-first ul :nth-child(8) :first-child {
	color: rgb(95, 95, 95);
	font-style: italic;
	font-size: small;
}

/* Segundo bloque de frases */
.sentenceTranslated-container-second ul li {
	list-style: none;
}

.sentenceTranslated-container-second ul :nth-child(2) :first-child {
	color: rgb(95, 95, 95);
	font-style: italic;
	font-size: small;
}
.sentenceTranslated-container-second ul :nth-child(4) :first-child {
	color: rgb(95, 95, 95);
	font-style: italic;
	font-size: small;
}
.sentenceTranslated-container-second ul :nth-child(6) :first-child {
	color: rgb(95, 95, 95);
	font-style: italic;
	font-size: small;
}

/* tercer bloque de frases */
.sentenceTranslated-container-third ul li {
	list-style: none;
}

.sentenceTranslated-container-third ul :nth-child(2) :first-child {
	color: rgb(95, 95, 95);
	font-style: italic;
	font-size: small;
}
.sentenceTranslated-container-third ul :nth-child(4) :first-child {
	color: rgb(95, 95, 95);
	font-style: italic;
	font-size: small;
}
.sentenceTranslated-container-third ul :nth-child(6) :first-child {
	color: rgb(95, 95, 95);
	font-style: italic;
	font-size: small;
}
.sentenceTranslated-container-third ul :nth-child(8) :first-child {
	color: rgb(95, 95, 95);
	font-style: italic;
	font-size: small;
}
