.container-PresentSimple {
	padding: 1.5rem;
	padding-top: 6.5rem;
	display: flex;
	flex-direction: column;
	max-width: 655px;
	margin: 0 auto;
}

.presentSimple-title {
	font-size: 2.5em;
	padding-bottom: 1rem;
}

.accordions-container {
	display: flex;
	padding: 0 !important;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
}
