.accordions-container-food {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-top: 7rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 3rem;
}
.title-food {
	padding-bottom: 2rem;
}
