* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    
  }
  
  body {
    margin: 0;

    background-color: #fcfcfc;
    min-height: 100vh;
    
  }
  
  .main-container {
    color: #fff;
    background-color: #252d4a;
    max-width: 650px;
    min-width: 300px;
    height: min-content;
    min-height: 300px;
    padding: 20px;
    box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

  }

  
  /* PREGUNTAS */
  .lado-izquierdo {
    width: 90%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: .8rem;
  }
  
  .pregunta-numero {
    margin-bottom: 20px;
  }
  
  .pregunta-numero span {
    font-size: 28px;
  }
  
  .titulo-pregunta {
    font-size: larger;
  }
  
  .lado-derecho {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: .4rem;
  }
  
  /* FINALIZADO */
  .juego-terminado {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 24px;
    align-items: center;
    gap: .4rem;
  }

  .juego-terminado :nth-child(1) {
    padding-bottom: 1rem;
    font-size: larger;
  }

  .empezar-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* GRAL */
  button {
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    background-color: #252d4a;
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    align-items: center;
    border: 5px solid #234668;
    cursor: pointer;
  }

  .btn-one {

    width: 50%;
    justify-content: center;

  }
  
  .tiempo-restante {
    font-size: 14px;
    color: #fcbf3d;
    margin-bottom: 20px;
  }
  
  .correct,
  .correct:hover {
    background-color: #2f922f;
  }
  
  .incorrect,
  .incorrect:hover {
    background-color: #ff3333;
  }
  
  .btns-container {
    display: flex;
    justify-content: space-evenly;
  }
  
  button:hover {
    background-color: #234668;
  }
  
  button[disabled] {
    background-color: #555e7d;
    color: #ffffff;
    cursor: not-allowed;
  }
  
  button:focus {
    outline: none;
  }
  
  button svg {
    margin-right: 5px;
  }
  
  .ver-respuestas {
    font-weight: bold;
  }
  
  hr {
    margin-bottom: 2rem;
  }