.container-wrapper-card {
	display: grid !important;
	grid-column: 50% auto;
	gap: 1rem;
}

.container-wrapper-card .wrapper-card {
	background-color: #a7d2cb;
	padding: 0 !important;
	width: 100%;
}

.container-wrapper-card .wrapper-card {
	background-color: #a7d2cb;
}

.container-wrapper-card :nth-child(1) :nth-child(1) {
	background-color: #a7d2cb;
}
.container-wrapper-card :nth-child(2) :nth-child(1) {
	background-color: #a7d2cb;
}
.container-wrapper-card :nth-child(3) :nth-child(1) {
	background-color: #f2d388;
}
.container-wrapper-card :nth-child(4) :nth-child(1) {
	background-color: #f2d388;
}
.container-wrapper-card :nth-child(5) :nth-child(1) {
	background-color: #c98474;
}
.container-wrapper-card :nth-child(6) :nth-child(1) {
	background-color: #c98474;
}
