.adverbs-container {
    padding-left: 1rem;
}

.adverbs-container :nth-child(2) {
    font-size: small;
    font-style: italic;
}
.adverbs-container :nth-child(4) {
    font-size: small;
    font-style: italic;
}
.adverbs-container :nth-child(6) {
    font-size: small;
    font-style: italic;
}
.adverbs-container :nth-child(8) {
    font-size: small;
    font-style: italic;
}