@media (max-width: 678px) {
	.footer-container {
		background-color: #333;
		color: aliceblue;
		display: flex;
		flex-direction: column;
		padding-bottom: 2rem;
	}
	.left-footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 20rem;
	}

	.left-footer span {
		padding-top: 6rem;
		font-size: xx-large;
	}
	.left-footer p {
		text-align: center;
		padding-top: 2rem;
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.center-footer {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 2rem;
		width: 100%;
		height: 20rem;
	}

	.center-footer a {
		color: aliceblue;
	}

	.center-footer a :nth-child(1) {
		font-size: xx-large;
	}

	.right-footer {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
		justify-content: center;
		padding-left: 2rem;
		padding-right: 2rem;
		padding-bottom: 2rem;
		gap: 1.5rem;
	}

	.right-footer :first-child {
		font-size: xx-large;
		padding-top: 4rem;
	}

	.right-footer span {
		font-size: xx-large;
	}

	.explication-right-footer {
		padding-top: 2rem;
	}

	.email-right-footer {
		display: flex;
		font-size: x-large;
	}

	.phone-right-footer {
		display: flex;
		font-size: x-large;
	}

	.email-right-footer :nth-child(1) {
		font-size: xx-large;
		padding-right: 1rem;
	}

	.phone-right-footer :nth-child(1) {
		font-size: xx-large;
		padding-right: 1rem;
	}
}

@media (min-width: 767px) {
	.footer-container {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		background-color: #333;
		color: white;
		padding: 2rem;
	}

	.left-footer {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: 2rem;
	}

	.left-footer span {
		font-size: xx-large;
	}

	.left-footer p {
		font-size: large;
	}

	.center-footer {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2rem;
	}

	.center-footer a :first-child {
		font-size: xxx-large;
	}

	.center-icon {
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.right-footer {
		display: flex;
		flex-direction: column;
		padding: 2rem;
		gap: 2rem;
	}

	.right-footer :first-child {
		font-size: x-large;
	}

	.right-footer :nth-child(2) {
		font-size: large;
	}

	.right-footer .email-right-footer {
		display: flex;
		gap: 1rem;
		font-size: x-large;
	}

	.right-footer .email-right-footer :first-child {
		font-size: x-large;
	}

	.right-footer .phone-right-footer {
		display: flex;
		gap: 1rem;
		font-size: x-large;
	}
}
