.section1-vocabulary {
	padding-top: 3rem;
}

.section1-vocabulary .text-grammar-2 {
	padding-top: 5rem;
}

.section1-vocabulary .text-grammar-3 {
	padding-top: 1rem;
}

.section1-vocabulary .text-grammar-4 {
	padding-top: 1rem;
}

.section1-vocabulary .text-grammar-5 {
	padding-top: 2rem;
}

.container-wrapper-card {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-bottom: 1rem;
	display: grid;
	grid-template-columns: 50% auto;
}

.wrapper-card {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-bottom: 1rem;
}

.wrapper-card :first-child {
	height: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}
