.title-cards {
	padding-top: 7rem;
	padding-left: 1rem;
	padding-bottom: 3rem;
	font-size: 2em !important;
}

.container-wrapper-card {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-bottom: 1rem;
	display: grid;
	grid-template-columns: 50% auto;
}

.wrapper-card {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-bottom: 1rem;
}

.wrapper-card :first-child {
	height: 8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}
